h1{
  text-align: center;
  color: #00CED1;
  font-family: 'Shrikhand', cursive;
}

h2{
  text-align: center;
  font-family: 'Libre Caslon Display', serif;
}

p{
  text-align: center;
}

.links{
  
  color: #40E0D0;
}
  

html{
  background-image: url('https://cdn.hipwallpaper.com/i/65/22/g876Ek.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%

}

#container{
  background-color: white;
  width: 900px;
  margin: 0px auto;
  padding: 0px 1em 0px 1em;
  
}

button{
    font-family: 'Permanent Marker', cursive, bold;
    font-size: 15px;
}

.Quiz{
    color: black;
    background-color: #9932CC;
    background: linear-gradient(to bottom, white, #9932CC);
    padding: 1em 1em 1em 1em;
  border: 5px double;
}

#border{
    width: 100px;
    margin: 0px auto;
  padding: 1em 1em 1em 1em;
}

#game{
    width: 100px;
    margin: 0px auto;
  padding: 1em 1em 1em 1em;
}

.Game{
    padding: 1em 1em 1em 1em;
  background: linear-gradient(to bottom, white, #3CB371);
    border: 5px double;
}

#Project{
    width: 100px;
    margin: 0px auto;
    padding: 1em 1em 1em 1em;
}

.tic{
    padding: 1em 1em 1em 1em;
}

  
