h1{
  text-align: center;
  color: #00CED1;
  font-family: 'Bebas Neue', cursive;
}

h2{
  text-align: center;
}

p{
  text-align: center;
}

.links{
  
  color: #40E0D0;
}
  

html{
  background-image: url('https://cdn.hipwallpaper.com/i/65/22/g876Ek.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%

}

#container{
  background-color: white;
  width: 900px;
  margin: 0px auto;
  padding: 0px 1em 0px 1em;
  
}

  
