h1{
  text-align: center;
  color: #00e6e6;
}

html{
  background-image: url('https://cdn.hipwallpaper.com/i/65/22/g876Ek.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%

}
